*{
    margin: 0;
    padding: 0;
}


.container{
    max-width: 80%;
    margin: auto;
    
    
    
}

.titulo-principal{
    padding: 20px;
    text-align: center;
    font-size: 2em;
    background-color: rgb(53, 53, 243);
    color: white;
}

main{
    background-color: rgb(197, 197, 116);
    padding: 25px;

}


h1{
    text-align: center;
}

p{
    padding: 20px;
    font-size: 1.5em;
}

img{
    padding: 10px;
    margin: 30px;
}


footer{
    text-align: center;
    background-color: rgb(53, 53, 243);
    color: white;
}