h1 {
    color: blue
}

.aside {
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    border: none;
}

div {
    background-color: grey;
    padding: 65px;
    border: 5px solid black;
    margin: 34px;


}

.caixa {
    background-color: aquamarine;
}

#ultima-caixa {
    background-color: brown;
}

p {
    background-color: blueviolet;
}

a {
    color: white;
}

.caixa-do-meio {
    padding: 20px 40px 60px 80px;
    margin: 80px 60px 40px 20px;
    border: 20px solid blue;
}